#toc {
	list-style-type: none;
	font-size: 1.3em;
	padding-left: 0;
	margin-bottom: 3em;
}

#toc > li {
	margin-bottom: 0.5em;
}

/*.question {
	font-weight: bold;
	font-size: 125%;
	display: block;
}*/

/*p {
	font-size: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}*/