#options_btn {
	float: right;
	margin-bottom: 2em;
}

#charts_bloodPressure {
	width: 700px;
	height: 400px;
}

a.measurement-tab {
	/*background-color: #EEEEEE !important;*/
	color: #eeeeee !important;
}

li.active > a.measurement-tab {
	color: #000000 !important;
}

a:hover.measurement-tab, a:focus.measurement-tab {
    /*background-color: #337ab7 !important;*/
    color: #000000 !important;
}

.buttonGroupLabel {
	font-size: 1.20em;
}

.rowHover {
	background-color: #A8A8A8 !important;
}

.rowSelected {
	background-color: #21409A !important;
	color: #D8D8D8;
	outline-style: groove;
	outline-width: 2px;
	outline-color: #213474;
}

.black-text {
	color: #000000 !important;
}

.meas-label {
	text-align: right;
}

.measurementRow {
	cursor: default;
}

.jump-to {
	padding-right: 0;
	padding-left: 0;
}

.jump-to button {
	border-radius: 0;
}

caption {
	font-size: 1.5em;
}

legend {
	font-size: 1.5em;
	color: #777;
}

.panel > .panel-heading > h2 {
	font-size: 1.5em;
}

.deletedRow {
	background-color: #FF0000 !important;
}

#measurements_dropdown .dropdown-menu {
	float: left;
	left: 20%;
	margin: 2px auto 0;
	width: 60%;
	text-align: center;
}

/* extra small devices */
@media screen and (max-width: 749px) {    
    .chart-secondary {
       display: none;
    }
}

/* small devices */
@media screen and (min-width: 750px) and (max-width: 991px) {
	.form-horizontal .meas-label {
	   text-align: left;
	}
	
	.chart-secondary {
       display: none;
    }
    #measurements_dropdown {
        display: none;
    }
    #options select, #options_numRows {
	    width: 50%;
	}
	#units_form-group {
        width: 90%;
        margin-left: auto;
        margin-right: 0;
    }
}

/* medium and large devices */
@media screen and (min-width: 992px) {
    #measurements_dropdown {
        display: none;
    }
    #options select, #options_numRows {
        width: 50%;
    }
    #units_form-group {
        width: 90%;
        margin-left: auto;
        margin-right: 0;
    }
}

/* medium devices */
/*@media screen and (min-width: 992px) and (max-width: 1199px) {
    
}*/

/*@media screen and (min-width: 650px) {
	#charts_bloodPressure {
    width: 625px;
    height: 400px;
}


@media screen and (max-width: 649px) {
    #charts_bloodPressure {
    width: 400px;
    height: 325px;
}*/