#measurement_sections .addMeasurement_btn {
	background-color: #5cb85c;
}

span.link-text {
	cursor: pointer;
}
span.link-text:hover {
	color: #ffffff;
	background-color: #337ab7;
	border-radius: 4px;
}

a.disabled, label.disabled {
	color: gray;
	cursor: not-allowed;
}

.hidden-data {
	display: none;
}

.dropdown-menu .glyphicon {
	margin-right: .75em;
}

#options_btn {
	float: right;
	margin-bottom: 2em;
}

#charts_bloodPressure {
	width: 700px;
	height: 400px;
}

a.measurement-tab {
	/*background-color: #EEEEEE !important;*/
	color: #eeeeee !important;
}

li.active > a.measurement-tab {
	color: #000000 !important;
}

a:hover.measurement-tab, a:focus.measurement-tab {
    /*background-color: #337ab7 !important;*/
    color: #000000 !important;
}

.buttonGroupLabel {
	font-size: 1.20em;
}

.rowHover {
	background-color: #A8A8A8 !important;
}

.rowSelected {
	background-color: #21409A !important;
	color: #D8D8D8;
	outline-style: groove;
	outline-width: 2px;
	outline-color: #213474;
}

.black-text {
	color: #000000 !important;
}

.meas-label {
	text-align: right;
}

.measurementRow {
	cursor: default;
}

.jump-to {
	padding-right: 0;
	padding-left: 0;
}

.jump-to button {
	border-radius: 0;
}

caption {
	font-size: 1.5em;
}

legend {
	font-size: 1.5em;
	color: #777;
}

.panel.panel-primary {
	margin-bottom: 0;
}

.panel-body {
	padding: 1px;
}

#measurement_sections section[role='tabpanel'] {
	padding-left: 0;
	padding-right: 0;
}

#chartsOptions_tabs > li > a {
	padding-top: 2px;
	padding-bottom: 2px
}

#options button, #options span[class="input-group-addon"] {
	padding-top: 4px;
	padding-bottom: 4px;
}

#options input[type="text"], #options select {
	height: 26px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#firstChartOptions {
	padding-top: 6px;
}
#firstChartOptions > div[class="form-group"] {
	margin-bottom: 6px;
}
#firstChartOptions input[type="text"] {
	padding-right: 0;
}
#firstChartOptions label {
	text-align: left;
	padding-right: 3px;
	padding-top: 6px;
}
#secondChartOptions {
    padding-top: 6px;
}
#secondChartOptions > div[class="form-group"] {
    margin-bottom: 6px;
}
#secondChartOptions input[type="text"] {
    padding-right: 0;
}
#secondChartOptions label {
    text-align: left;
    padding-right: 3px;
    padding-top: 6px;
}

#closeOptions_btn {
	float: right;
}
#options > div {
	padding-bottom: 0;
}

#options .control-label {
	padding-top: 3px;
	padding-bottom: 3px;
}

.deletedRow {
	background-color: #FF0000 !important;
}

#measurements_dropdown .dropdown-menu {
	float: left;
	left: 20%;
	margin: 2px auto 0;
	width: 60%;
	text-align: center;
}

#columns_dropdown > ul {
	left: 15px;
}

/* extra small devices */
@media screen and (max-width: 749px) {   
    #chartsOptions_tabs > li {
        display: table-cell;
        width: 1%;
    }
    #chartsOptions_tabs > li > a {
        border-bottom: 1px solid #DDDDDD;
        border-radius: 4px 4px 0 0;
    }
}

/* small devices */
@media screen and (min-width: 750px) and (max-width: 991px) {
	.form-horizontal .meas-label {
	    text-align: left;
	}
    #measurements_dropdown {
        display: none;
    }
    #options .select-form-group > div {
        padding-left: 0;
    }
    #measurements_tabs > li > a {
        padding-left: 6px;
        padding-right: 6px;
    }
}

/* medium and large devices */
@media screen and (min-width: 992px) {
    #measurements_dropdown {
        display: none;
    }
    #options .select-form-group > div {
        padding-left: 0;
    }
}