.attrLabel {
	font-weight: bold;
	text-align: right;
}

.attrValue {
	text-align: left;
}

@media (max-width: 992px) {
	.attrLabel {
	   text-align: left;
	}
	
	.attrValue {
	   text-align: right;
	}
}

.profilePic {
	margin: 0 auto;
}